header{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: gray;
    padding: 20px;
}

.logo{
    font-size: 2em;
    color:blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.main{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 100px 200px;

}
header{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background-color: #f0f0f0;
    justify-content: space-between;
    position: fixed;
    padding: 10px 200px;
    z-index: 999;
}

.logo{
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    color: blue;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    color: blue;  
    margin-left: 30px;
}

nav a:hover{
    color: rgb(84, 17, 147);
}
.main{
    display: flex;
    height: 100hw;
    align-items: center;
    padding: 100px 200px;
    background: url(background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


@media (max-width: 750px) {
    body{
        font-size: 12px;
    }
}


@media (max-width: 400px) {
    body{
        font-size: 10px;
    }
}
